<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT slide ANY>
<!ATTLIST slide id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1271" key="bc25b578-8c00-46a6-bf8e-f5ce6b885888" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-09-17T03:32:49" updateDate="2018-09-17T04:37:33" nodeName="Home" urlName="home" path="-1,1271" isDoc="" nodeType="1270" creatorName="Ravi Patel" writerName="Ravi Patel" writerID="0" template="1269" nodeTypeAlias="home" isPublished="true">
    <featuredSlides><![CDATA[umb://document/12a24e4ac5154aef923b82e996cfedf2,umb://document/2eb3c6d78b1645cea44b30a3154514ab,umb://document/3eb698d76f8f47aca04e0e74aee564ee]]></featuredSlides>
    <slide id="1278" key="12a24e4a-c515-4aef-923b-82e996cfedf2" parentID="1271" level="2" creatorID="0" sortOrder="0" createDate="2018-09-17T04:20:01" updateDate="2018-09-17T04:36:58" nodeName="Slide1" urlName="slide1" path="-1,1271,1278" isDoc="" nodeType="1277" creatorName="Ravi Patel" writerName="Ravi Patel" writerID="0" template="0" nodeTypeAlias="slide" isPublished="true">
      <slideTitle><![CDATA[Ventures]]></slideTitle>
      <slideText><![CDATA[Over 24 years experience and knowledge international standards,technologicaly changes and industrial systems.]]></slideText>
      <slideImage><![CDATA[umb://media/627ddaafc3fb4073b7b5fb5e3cedc990]]></slideImage>
      <slideHeader><![CDATA[Warm welcome to]]></slideHeader>
    </slide>
    <slide id="1279" key="2eb3c6d7-8b16-45ce-a44b-30a3154514ab" parentID="1271" level="2" creatorID="0" sortOrder="1" createDate="2018-09-17T04:29:50" updateDate="2018-09-17T04:37:10" nodeName="Slide2" urlName="slide2" path="-1,1271,1279" isDoc="" nodeType="1277" creatorName="Ravi Patel" writerName="Ravi Patel" writerID="0" template="0" nodeTypeAlias="slide" isPublished="true">
      <slideTitle><![CDATA[Success]]></slideTitle>
      <slideText><![CDATA[Over 24 years experience knowledge international standards technologicaly changes and industrial systems.]]></slideText>
      <slideImage><![CDATA[umb://media/a127a0aaa19f47e896483a0bfc93e5d5]]></slideImage>
      <slideHeader><![CDATA[The fastest way to achive]]></slideHeader>
    </slide>
    <slide id="1280" key="3eb698d7-6f8f-47ac-a04e-0e74aee564ee" parentID="1271" level="2" creatorID="0" sortOrder="2" createDate="2018-09-17T04:31:13" updateDate="2018-09-17T04:32:59" nodeName="Slide3" urlName="slide3" path="-1,1271,1280" isDoc="" nodeType="1277" creatorName="Ravi Patel" writerName="Ravi Patel" writerID="0" template="0" nodeTypeAlias="slide" isPublished="true">
      <slideTitle><![CDATA[Investors]]></slideTitle>
      <slideText><![CDATA[Over 24 years experience and knowledge international standards technologicaly changes and industrial systems.]]></slideText>
      <slideImage><![CDATA[umb://media/2109fcf6c83d4f309f3a7f9ee2d23437]]></slideImage>
      <slideHeader><![CDATA[Trading solution for ]]></slideHeader>
    </slide>
  </home>
</root>